# Dependencies and build outputs
node_modules
build/
dist/
dist-web/
out/
scripts/*.cjs

# IDE config
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Cache and logs
.eslintcache
*.log*
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
